<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.web>
    <customErrors mode="Off"/>
    <machineKey validationKey="0779B4FD3C4B0F3C3D574141A018073D9312C07906F52B2EF255D57B747102231608B93600A16485E1B2811A23ACCF06DC104440E155C80B83989996FEA9F009" decryptionKey="57758E324B90A282C1CAEEA3837AB51F456D2E3030BC4BFED1FAB053AB29CA5D" validation="SHA1" decryption="AES" />
  </system.web>
  
  <appSettings>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTPUser" value="info.hunthome@gmail.com"/>
    <add key="SMTPPassword" value=""/>
    <add key="CONST_MAIL_SIGNUP_FROM" value="info.hunthome@gmail.com"/>
    <add key="AdminEmail" value="info@hunthome.in"/>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>

    <add key="Capcha_Kye" value="6LeeHI8UAAAAAGM66UPQa20CJqW9xxwk6B3PIvW4"/>
    <add key="Capcha_Secret" value="6LeeHI8UAAAAAE1mQuKgTpMlORZD1fR4bp8eUX9U"/>
    
   <!-- <add key="Capcha_Kye" value="6LfMA5gUAAAAAFSr8-D6XFVkoDGJEyFVe06nh-u2"/>
    <add key="Capcha_Secret" value="6LfMA5gUAAAAAFqW-wa0UNyK6LNbwXJ_-J2CRJ5q"/>-->
  </appSettings>
  
  <connectionStrings>
    <!--<add name="CONST_RealEstate_DBCONN" providerName="System.Data.SqlClient" connectionString="server=den1.mssql8.gear.host;database=realestates;uid=realestates;password=Vi4b!4?QtjHw;"/>-->
    <!--<add name="CONST_RealEstate_DBCONN" providerName="System.Data.SqlClient" connectionString="server=rajyogsolar.in;database=rajyogso_hunthome;uid=rajyogso_hunthome;password=Hunthome@2019;" />-->
   <add name="CONST_RealEstate_DBCONN" providerName="System.Data.SqlClient" connectionString="server=JERICO;database=RealEstate;Trusted_Connection=True" />
  </connectionStrings>

</configuration>
