<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>

  
  <appSettings>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTPUser" value="info.hunthome@gmail.com"/>
    <add key="SMTPPassword" value=""/>
    <add key="CONST_MAIL_SIGNUP_FROM" value="info.hunthome@gmail.com"/>
    <add key="AdminEmail" value="info@hunthome.in"/>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    
  </appSettings>
  
  <connectionStrings>
   <add name="CONST_RealEstate_DBCONN" providerName="System.Data.SqlClient" connectionString="server=SHUBHAM;database=RealEstate;Trusted_Connection=True" />
  </connectionStrings>

</configuration>
